@model Imdb.Web.ViewModels.Movies.SearchListViewModel
@{
    ViewData["Title"] = "Results";
}

<div class="row">
    <div class="col col-md-4">
        @if (Model.Results.Count() == 0)
        {
            <h2>No results ;(</h2>
            <h4>Search again or find other amazing movies</h4>
            <a class="btn btn-primary my-3" asp-area="" asp-controller="Movies" asp-action="All">Movies</a>
        }
        else
        {
            @foreach (var movie in Model.Results)
            {
                <a asp-area="" asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">
                    <div class="media text-center border">
                        <img src="@(GlobalConstants.ReducedBaseDeliveryImageUrl + movie.GeneralImageUrl)" height="64" width="64" class="mr-3">
                        <div class="media-body">
                            <h5 class="mt-0">@movie.Title</h5>
                            @if (movie.IsTvShow)
                            {
                                <small>TvShow</small>
                            }
                            else
                            {
                                <small>Movie</small>
                            }
                        </div>
                    </div>
                </a>
                <br />
            }
        }
    </div>
</div>