<form asp-area="" asp-controller="Movies" asp-action="Results" method="get">
    <div class="row">
        <div class="col-12 col-md-1"></div>
        <div class="col-12 col-md-8">
            <input class="form-control" id="movieTitle" name="movieTitle" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-12 col-md-2">
            <button class="btn btn-dark">Search</button>
        </div>
    </div>
</form>