@using Imdb.Common
@model Imdb.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div class="text-center">
    <h3 class="display-4">Top Movies</h3>
</div>

<div class="text-center">
    @foreach (var movie in Model.TopMovies)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@(GlobalConstants.BaseDeliveryUrl+movie.GeneralImageUrl)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">Description</p>
                <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id" class="btn btn-primary">View Movie</a>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a href="#" ><i class="fas fa-star">Add to watchlist</i></a>
                }
            </div>
        </div>
    }
</div>

