@using Imdb.Common
@model Imdb.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div class="text-center">
    <h3 class="display-4">@Model.Name</h3>
</div>

